<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>249845789809-v4m7uu89ic4oaac1rlg3vmk8bl9nai8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249845789809-v4m7uu89ic4oaac1rlg3vmk8bl9nai8e</string>
	<key>API_KEY</key>
	<string>AIzaSyDpRsgROu9vuqdyLYgOOrbZZDwwMj4JRpk</string>
	<key>GCM_SENDER_ID</key>
	<string>249845789809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codyberlin.smoove</string>
	<key>PROJECT_ID</key>
	<string>smoove-94fc6</string>
	<key>STORAGE_BUCKET</key>
	<string>smoove-94fc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:249845789809:ios:e42df7c688b754ed</string>
	<key>DATABASE_URL</key>
	<string>https://smoove-94fc6.firebaseio.com</string>
</dict>
</plist>